*{
  box-sizing: border-box;
  font-family: Trebuchet MS;
  
  
}
h1 {
	color:red;
	text-align:center;
	margin: 20px
}
body{
	background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--cpQX3XZj--/c_scale,fl_progressive,q_80,w_800/18lrwi283mdujjpg.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;
}

h2 {
	text-align:center;
	margin: 40px;
}

a{
	color: red;
}

nav a{
  margin: 25px;
  margin-top: 22px;
  border: 3px solid red;
  padding: 10px;
  color: red;
 }

.title{
  text-align:center;
}
  
p{
color: red;
text-align: center;
font-size: 19px;

}

.video{
	text-align:center
}

.m{
	color: red;
}

.j{
	color: orange;
}
.v{
	color: orangered;
}

/*other devices*/
@media only screen and (min-width: 320px) and (max-width: 480px), (orientation:portrait) {
	nav a:{
		width: 95%;
	}
}


